.hdr-row {
    font-weight: bolder;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgb(244, 245, 239);
}

.center-h {
    margin: 0 auto;
    width: 50%;
    z-index: 99;
}

.row-striped:nth-of-type(odd) {
    background-color: #e4e4e4;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
}